*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    border: 20px solid #5fa589;
    height: 1000px;
    margin: 250px;
}
nav{
    background-color: white;
    border: 1px solid #ccc;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo1{
    margin: 10px; 
}
.workspace{
    flex: 1;
    font-weight: bold;
}
.logo i{
    font-size: 15px;
    background-color: rgb(14, 13, 14);
    color: white;
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
}
nav .right{
    float: right;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.right .name{
   flex: 1;
   font-weight: bold;
   padding-right: 5px;
   margin-top: 1px;
}
.right img{
    width: 50px;
    border-radius: 50%;
    flex: 1;
   
}

.row{
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    margin-top: 10px;
}
.side{
    flex: 5%;
    padding: 10px;
    word-spacing: 4px;
}
.main{
    flex: 55%;
    padding: 10px;

}
.rightside{
    flex: 25%;
    padding: 10px;
}
.favorites{
    list-style-type: none;
    padding: 15px 45px;
    font-weight: inherit;
}
.favorites-hd{
    padding-bottom: 15px;
    margin-left: -5px;
}
.favorites-hd{
    padding-left: -5px;
    font-size: 14px;
}
.favorites li{
    padding: 12px;
    font-weight: 500;
}
.menu{
    padding: 10px;
}
.firstbar{
    border: 1px solid #f1f1f1;
    background-color: white;
    display: flex;
    margin: 0;
    margin-bottom: 20px;
}
.names{
    flex: 1;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.name{
    font-weight: 600;
    padding-bottom: 10px;
}
.aname{
    color: rgb(182, 179, 179);
    font-weight: 500;
}
.bars{
    float: right;
    margin-top: -30px;
    background-color: white;
    border: white;
    font-size: 14px;
}
.secondbar{
    background-color: white;
    border: 1px solid #f1f1f1;
    height: 430px;
    margin-bottom: 20px;
}
.firstnav{
    margin: 0;
    padding: 18px 20px;
    border-bottom: rgb(134, 133, 133);
}
.firstnav a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 0.9em;
    border-bottom: rgb(134, 133, 133);
}
.firstnav a:hover{
    border-top:2px solid rgb(24, 218, 218);
    background-color: white;
    padding: 10px;
    color: rgb(33, 212, 212);
}
.secondnav ul{
    padding: o.5em;
    display: flex;
    list-style: none;
    border-bottom: rgb(155, 153, 153);
}
.list{
    padding: 15px;
    font-size: 14px;
}
.ri{
    float: right;
    padding-right: 30px;
    margin-top: -55px;
    list-style: none;
    font-size: 14px;
}
.thirdbar{
    margin-top: 310px;
    background-color: white;
    border: 1px solid #f1f1f1;
    height: 200px;
}
.details{
    display: flex;
    background: white;
    padding:10px 10px;
    margin-bottom: 1px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
}
.info{
    flex: 1;
    padding: 10px 5px;
}
.name{
    font-weight: 600;
}
.aname{
    color: rgb(163, 162, 160);
}
.top1{
    background-color: white;
    padding: 20px 40px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(20, 196, 196);
    margin-bottom: 20px;
}
.top1-name{
    padding-bottom: 10px;
    font-size: 16px;
    color: teal;
}
.top1-count{
    justify-content: center;
    align-items: center;
}
.top1-aname{
    padding-bottom: 20px;
    color: rgb(187, 182, 182);
}
.top2{
    background-color: white;
    padding: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.top2-1 h4{
    padding-bottom: 20px;
}
.top2-lists{
    flex: 1;
}
.top3{
    background-color: white;
    padding: 10px;
}